body {
  font-family: Arial, sans-serif;
  background: linear-gradient(48deg, #5cb8ed, #942eec) repeat;
  margin: auto;
}
html {
  min-height: 100%;
}
nav {
  padding-top: 10px;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 200px;
  width: max-content;
  background-color: #333;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.menu li a:hover {
  background-color: #111;
}

li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.each-section-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.section-name {
  background: #333;
  color: white;
  width: max-content;
  border: solid 1px #333;
  border-radius: 15px 15px 0px 0px;
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}

.section-text-container {
  background: #333;
  color: white;
  border: solid 1px #333;
  border-color: white;
  border-radius: 0px 15px 15px 15px;
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
}

.section-contents-with-picture {
  display: flex;
  flex-direction: row;
  background: #333;
  color: white;
  border: solid 1px #333;
  border-color: white;
  border-radius: 0px 15px 15px 15px;
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
}

img {
  width: 720px;
  height: auto;
  padding: 20px;
  border-radius: 40px;
}
