body {
  font-family: Arial, sans-serif;
  background: linear-gradient(48deg, #5cb8ed, #942eec) repeat;
  margin: auto;
}
html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  padding-top: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 200px;
  width: max-content;
  background-color: #333;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.menu li a:hover {
  background-color: #111;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.textBookContainer {
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.15);
  width: 50%;
  align-self: center;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

.authorsName {
  margin-right: 5px;
}

h1 {
  font-weight: 600;
  margin: 10px;
  align-self: center;
  width: max-content;
  color: white;
  background-color: #333;
  padding: 15px;
  border-radius: 200px;
  margin-bottom: 25px;
}
